@atlas:registry=https://nexus.cap.sh/repository/talkdesk-npm
@cobalt:registry=https://nexus.cap.sh/repository/talkdesk-npm
@cobalt-marketplace:registry=https://nexus.cap.sh/repository/talkdesk-npm
@cobalt-utils:registry=https://nexus.cap.sh/repository/talkdesk-npm
@titanium:registry=https://nexus.cap.sh/repository/talkdesk-npm
registry=https://nexus.cap.sh/repository/talkdesk-npm
