.number-item {
  margin: 0 4px 4px 0;
  width: 96px;
  height: 64px;
  line-height: 64px;
  font-size: 28px;
  text-align: center;
  color: #202830;
  border-radius: 4px;
  background-color: #E8EAEB;
  cursor: pointer;

  &:nth-of-type(3n) {
    margin: 0;
  }

  &:hover {
    background-color: darken($color: #E8EAEB, $amount: 4);
  }
}
